.bg-enter-room {
    /* The image used */
    background-image: url("../images/ui2.png");

    /*Full height*/ 
    height: 100%;

    /*Center and scale the image nicely*/ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*  background: url(../images/ui1.png) no-repeat center center fixed;
      background-size: cover;
      height: 100%;
      overflow: hidden;*/

}

.title {
    height: 120px;
    padding-top: 60px;
    font-size: 10vw;
    font-family: "SVNNew Athletic M54", Verdana, Tahoma; 
    color: #49CED9;
    margin-left: 28%;
    margin-bottom: 50px;
}

.text {
    font-size: 5vw;
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    color: #FC4C86;
    margin-left: 39%;
}
/* .text-checkbox{
    font-size: 3vw;
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    color: #FC4C86; 
    margin-left: 39%;
}  */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FC4C86;
    border-radius: 15px;
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    color: #FC4C86;
}


.abutton {
    position: fixed;
    width: 300px;
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    background: none;
    border: 5px dashed #CCCCCC;
    border-radius: 15px;
    color: #FC4C86;
    display: inline-block;
    font-size: 75px;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
    padding-bottom: 15px;
}
.pop-up{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: auto;
    left: 25%;
    top: 35%;
    width: 50%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  .pop-up-header {
    padding: 2px 16px;
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: "SVNLifehack Sans", Verdana, Tahoma;
  }
  
  
  .pop-up-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* animation-name: animatetop;
    animation-duration: 0.4s; */
  }
  #error-message {
    text-align: center;
    font-size: 40px;
    font-family: "SVNLifehack Sans", Verdana, Tahoma;
  }
  .pop-up-button{
    color: white;
    width: 30%;
    height: 20%;
    background-color: blue;
    font-size: 25px;
    font-weight: bold;
    margin-left: 35%;
    margin-bottom: 2%;
  }
