.bg-intro-room {
    /* The image used */
    background-image: url("../images/ui1.png");

    /*Full height*/ 
    height: 100%;

    /*Center and scale the image nicely*/ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*  background: url(../images/ui1.png) no-repeat center center fixed;
      background-size: cover;
      height: 100%;
      overflow: hidden;*/

}

.title-intro-room {
    height: 200px;
    font-size: 10vw;
    font-family: "SVNNew Athletic M54", Verdana, Tahoma; 
    color: #FC4C86;
    text-align: center;
}

.createbutton {
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    background: none;
    border: none;
    color: #FC4C86;
    display: inline-block;
    font-size: 140px;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-left: 35%;
    height: 130px;

}
.enterbutton {
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    background: none;
    border: none;
    color: #FC4C86;
    display: inline-block;
    font-size: 140px;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-left: 36.5%;
    margin-top: 0%;
    height: 150px;

}

