.bg {
    /* The image used */
    background-image: url("../images/ui4.png");

    /*Full height*/ 
    height: 100%;

    /*Center and scale the image nicely*/ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: scroll;
    background-attachment: fixed;
}

.title-room-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.title__button {
    height: 120px;
    font-size: 10vw;
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    color: #FC4C86;
    border: none;
    background: none;    
}

.text {
    font-size: 32px;
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    color: #FC4C86;
    text-align: center;
    border: 5px solid #FC4C86;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FC4C86;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
}
.imgborder{
    text-align: center;
}
#table__list {
    border-collapse: collapse;
    margin: auto; 
    width: 140px;
    border: 5px solid #FC4C86;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
}
#table__general {
    border-collapse: separate;
    border-spacing: 50px 10px;
    margin: auto; 
    width: 100px;
    height: 100px;
    padding-top: 50px;  
    padding-bottom: 100px;
}

.startbutton {
    position: relative;
    font-family: "SVNLifehack Sans", Verdana, Tahoma; 
    background: none;
    border: none;
    color: #FC4C86;
    display: inline-block;
    font-size: 75px;
    cursor: pointer;
    outline: none;
    text-align: center;
    bottom: 150px;
}