* {
    box-sizing: border-box;
}

body{
    background: url("/static/images/background1.png");
    background-size: cover;
    font-family: 'DK Lemon Yellow Sun','dk_lemon_yellow_sunregular','Amatic SC', cursive, monospace, sans-serif;
}

@font-face {
    font-family: 'dk_lemon_yellow_sunregular'; ''
    src: url('/static/webfont/dk_lemon_yellow_sun-webfont.woff2') format('woff2'),
    url('/static/webfont/dk_lemon_yellow_sun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*---------------------------------------------Header--------------------------------------*/
header{
    display: none;
}
ul{
   list-style-type: none;
}
nav {
    float: right;
    padding: 25px 20px 0 0;
}
#menu-icon{
    display: none;
    width: 40px;
    height: 40px;
    background: url("/static/images/nav.png") center;
}
a:hover#menu-icon{
    border-radius: 4px 4px 0 0;
}
ul{
    list-style-type: none;
}
nav ul li{
    font-family: 'Amatic SC',sans-serif;
    font-size: 150%;
    display: inline-block;
    float: left;
    padding: 10px;
}
nav ul li a {
    color: #1abc9c;
    text-decoration: none;
}
nav ul li a:hover{
    color: #d35400;
}
.current{
    color: #7f8c8d;
}
/*---------------------------------------------Main Section--------------------------------------*/
.mainsection{
    padding-top: 32px;
    padding-bottom: 32px;
}
.mainsection h1{
    font-size: 2.8em;
    font-family: 'DK Lemon Yellow Sun','dk_lemon_yellow_sunregular','Amatic SC', cursive, sans-serif;
}

.mainsection p{
    font-family: 'Amatic SC', cursive, monospace, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
}
.mainsection button{
    font-family: "dk_lemon_yellow_sunregular",'Amatic SC', cursive, monospace, sans-serif;
    font-size: 1.5em;
    padding-top: 32px;
    padding-bottom: 32px;
}
.mainmargin{
    margin-bottom: 16px;
    margin-top: 16px;
}
#funnycolor{
    background: lightseagreen;
}
#interestingcolor{
    background: palevioletred;
}

/*---------------------------------------------Punish Button--------------------------------------*/
.punishbutton {
    width: 164px;
    height: 72px;
    font-family: 'DK Lemon Yellow Sun','dk_lemon_yellow_sunregular','Amatic SC', cursive, monospace, sans-serif;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid white;
    background-color: inherit;
}
.punishpadding{
    padding-top:25px;
    padding-bottom:20px;
}
/*---------------------------------------------About & Rule Button----------------------------------*/
.buttonpadding{
    padding-top: 48px;
    padding-bottom: 48px;
}
.buttontext{
    font-size: x-large;
}
.icon{
    list-style-type: none;
    text-align: center;
}
.icon li{
    display: inline;
}
.icon i {
    font-size: 150%;
    margin: 0%;
    padding: 2% 5% 2% 2%;
    color: white;
}
.icon i:hover{
    color: #1abc9c;
}
/*-------------------------------------------------Rule Section--------------------------------------*/
.rulepadding{
    padding: 0;
}
.rulesession{
    float: left;
    width: 100%;
}
.one-third {
    width: 33.3333333333%;
    height: 217px;
    float: left;
    /*display: block;*/
}
h3 {
    font-family: "r0c0i SUNN Pro",'Amatic SC', cursive, monospace, sans-serif;
    font-size: 165%;
    line-height: 155%;
    padding: 15%;
    font-weight: 500;
    color: black ;
    text-align: center;
}
h3:hover{
    color: white ;
}

#c1{
    background-color: #1abc9c;
}
#c2{
    background-color: #2ecc71;
}
#c3{
    background-color: #3498db;
}
#c4{
    background-color: #16a085;
}
#c5{
    background-color: #27ae60;
}
#c6{
    background-color: #c0392b;
}
#c7{
    background-color: #f1c40f ;
}
#c8{
    background-color: #e67e22;
}
#c9{
    background-color: #34495e;
}

/*-------------------------------------------------About Section--------------------------------------*/
.abouttext{
    font-family: "dk_lemon_yellow_sunregular",'Amatic SC',"r0c0i SUNN Pro", cursive, monospace, sans-serif;
    font-size: 1.8em;
}


/*------------------------------------------------------Footer---------------------------------------*/
footer{
    background-color: inherit;
    width: 100%;
}
.social{
    list-style-type: none;
    text-align: center;
}
.social li{
    display: inline;
}
.social i {
    font-size: 230%;
    margin: 0%;
    padding: 2% 5% 0.5% 2%;
    color: white;
}
.social i:hover{
    color: darkslategrey;
}
footer.second p{
    padding: 5px 0 5px 0;
    text-align: center;
    margin: 0;
    color: white;
    font-family: inherit;
    font-size: 1.5em;
}