* {
  padding: 0;
  margin: 0;
}
.title {
  height: 250px;
  padding-top: 24px;
}
.main-container {
  height: 330px;
}
.exit {
  float: right;
  margin-right: 50px;
  padding: 20px;
  cursor: pointer;
}
.footer {
  margin-top: 20px;
}
#btn {
  width: 30%;
  margin: 20px;
  padding: 20px;
}

#pop-up {
  position: absolute;
  top: 38%;
  left: 33%;
  border: 1px solid black;
  width: 35%;
  height: 220px;
  background-color: #cec6c6;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
