body,
html {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
}
.bg {
  /* The image used */
  background-image: url("../images/ui2.png");

  /*Full height*/
  height: 100%;

  /*Center and scale the image nicely*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*  background: url(../images/ui1.png) no-repeat center center fixed;
      background-size: cover;
      height: 100%;
      overflow: hidden;*/
}
@font-face {
  font-family: "SVNNew Athletic M54";
  src: url(../font/head.ttf) format("truetype");
}
@font-face {
  font-family: "SVNLifehack Sans";
  src: url(../font/body.ttf) format("truetype");
}
.title {
  height: 120px;
  font-size: 10vw;
  font-family: "SVNNew Athletic M54", Verdana, Tahoma;
  color: #fad141;
  margin-left: 28%;
  border: none;
  background: none;
}

.text {
  font-size: 5vw;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
  color: #fc4c86;
  margin-left: 38%;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #fc4c86;
  border-radius: 15px;
}

.aboutbutton {
  background-color: #ff9933;
  border-radius: 12px;
  position: fixed;
  padding: 15px 10px;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
  border: none;
  color: #fc4c86;
  display: inline-block;
  font-size: 75px;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-left: 5%;
  margin-top: 100px;
}
.rulebutton {
  background-color: #ff9933;
  border-radius: 12px;
  position: fixed;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
  border: none;
  color: #fc4c86;
  padding: 15px 12px;
  display: inline-block;
  font-size: 75px;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-left: 89%;
  margin-top: 100px;
}
.bbutton {
  position: fixed;
  width: 300px;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
  background: none;
  border: 5px dashed #cccccc;
  border-radius: 15px;
  color: #fc4c86;
  display: inline-block;
  font-size: 75px;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-left: 40%;
  margin-top: 30px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin: auto;
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#rule-table {
  width: 100%;
}
.rule-square {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  height: 100px;
  font-size: 30px;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
}
.rule-square:hover {
  color: white;
}
#s1 {
  background-color: #99ff00;
}
#s2 {
  background-color: #33cc33;
}
#s3 {
  background-color: #ffcc33;
}
#s4 {
  background-color: #ffff66;
}
#s5 {
  background-color: #3333ff;
}
#s6 {
  background-color: #3366ff;
}

#about-table {
  width: 100%;
}
.teamName {
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
}
.teamName:hover {
  color: white;
}
.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#p1 {
  background-color: #99ff00;
}
#p2 {
  background-color: #ffcc33;
}
#p3 {
  background-color: #3333ff;
}
#p4 {
  background-color: red;
}
.pop-up{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin: auto;
  left: 25%;
  top: 35%;
  width: 50%; /* Full width */
  height: 30%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
.pop-up-header {
  padding: 2px 16px;
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
}


/* Modal Content */
.pop-up-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
#error-message {
  text-align: center;
  font-size: 40px;
  font-family: "SVNLifehack Sans", Verdana, Tahoma;
}
.pop-up-button{
  color: white;
  width: 30%;
  height: 20%;
  background-color: blue;
  font-size: 25px;
  font-weight: bold;
  margin-left: 35%;
  margin-bottom: 2%;
}